$ui-mobile: 'screen and (max-width: 47.9625em)';
$ui-mobile-min: 'screen and (min-width: 20em)';
$ui-mobile-interval: '(min-width: 20em) and (max-width: 47.9625)';

$ui-tablet: 'screen and (max-width: 63.9625em)';
$ui-tablet-min: 'screen and (min-width: 48em)';
$ui-tablet-interval: '(min-width: 48em) and (max-width: 63.9625)';

$ui-desktop: 'screen and (max-width: 79.9625em)';
$ui-desktop-min: 'screen and (min-width: 64em)';
$ui-desktop-interval: '(min-width: 64em) and (max-width: 79.9625)';

$ui-desktop-lg-min: 'screen and (min-width: 80em)';


