.testInput{
    width: 600px;
    padding: 50px;
}

.testSearch{
    width: 700px;
    padding: 50px;
}



.primary{
    padding: 20px;
    width: 300px;
    border: 1px solid black;
}
.primary2{
    padding: 20px;
    width: 700px;
    border: 1px solid black;
}
.secondary{
    padding: 20px;
    width: 200px;
    border: 1px solid black;
}
.shadow{
    padding: 20px;
    width: 400px;
    border: 1px solid black;
    background-color: black;
}