@mixin fontParam($family, $style) {
  font-family: $family;
  font-style: $style;
}
@mixin lineSpacing ($line, $spacing) {
  line-height: $line;
  letter-spacing: $spacing;
}
.saleLider {
  min-height: 594px;
  padding: 0px 15px 30px 15px;
}
.container {
  margin: 0 auto;
}
.liderTitle {
  @include fontParam('Montserrat',normal );
  font-weight: var(--fw-bold);
  font-size: var(--fs-m);
  letter-spacing: 0.03em;
  color: var(--black);
  text-align: center;
}
.titleLink {
  display: none;
}
.cardWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-auto-rows: minmax(auto, 387px);
  gap: 15px;
  justify-content: center;
  margin-top: 15px;
}
@media (min-width: 768px) {
  .saleLider {
    min-height: 380px;
  }
  .cardWrapper {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, auto);
    grid-auto-rows: auto;
  }
}
@media (min-width: 992px) {
  .saleLider {
    min-height: 420px; 
  }
  .titleBlock {
    position: relative;
    display: flex;
    align-items: center;
  }
  .liderTitle {
    font-size: var(--fs-24);
  }
  .titleLink {
    position: absolute;
    left: 232px;
    top: 6px;
    display: block;
    @include fontParam('Montserrat',normal );
    font-weight: var(--fw-regular);
    font-size: var(--fs-s);
    @include lineSpacing(130%,0.03 );
    color: var(--black);
    svg {
      margin-left: 10px;
    }
  }
  .popularTitle {
    font-size: var(--fs-24);
  }
  .cardWrapper {
    grid-template-rows: repeat(1, auto);
  }
}
@media (min-width: 1200px) {
  .saleLider {
    min-height: 460px;
  }
  .liderTitle {
    font-size: 40px;
  }
  .titleLink {
    left: 385px;
    top: 18px;
  }
  .cardWrapper {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1400px;
    margin: 0 auto;
  }
}